extends layout

block content
  .container
    .row
      .col-md-4(class="col-xs-6")
        address
          strong Pastor: 
          p.
            David J King <br>
            金培德牧師 <br>

        address
          strong Contact: 
          p.
            English/ Cantonese(廣東話): <br>
            Tel: 239-437-4663 <br>
            Tel: 239-851-6032 <br><br>
            Mandarin (普通話): <br>
            Tel: 239-690-6499<br>

        address
          strong Email:
          p.
            dsking06@comcast.net <br>

      .col-md-8(class="col-xs-12")      
        .jumbotron
          h1 About us
          p.
            The Chinese Alliance Church is a member of the Christian and Missionary Alliance.  What is the Christian and Missionary Alliance?  “The Christian and Missionary Alliance is a Protestant denomination whose passion is to know Jesus Christ; exalt Him as Savior, Sanctifier, Healer, and Coming King; and complete His Great Commission.”   For further information about the Christian and Missionary Alliance, and to read our statement of faith, visit www.cmalliance.org.
    .row
      .col-md-4(class="col-xs-6")
      .col-md-8(class="col-xs-12")      
        .jumbotron
          h1 Mission Statement
          p.
            To share God's words 

  br
  br
  hr
  p Mission 