extends layout

block content

  #myCarousel(class="carousel slide", data-ride="carousel")
    <!-- Indicators -->
    ol.carousel-indicators
      li(data-target="#myCarousel", data-slide-to="0", class="active")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")

    <!-- Wrapper for slides -->
    .carousel-inner
      div(class="item active")
        <img src="../images/nyc-aprt.jpg" alt="First slide">
        .carousel-caption
          h1 Example headline.
      .item
        <img src="../images/chinese-church.jpg" alt="Second slide">
        .carousel-caption
          h1 Welcome to Chinese Alliance Church
      .item
        <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Third slide">
        .carousel-caption
          h1 歡迎來到華人基督教宣道會
    
    <!-- Controls -->
    a.left(class="carousel-control", href="#myCarousel", data-slide="prev") 
      <span class="glyphicon glyphicon-chevron-left">
    a.right(class="carousel-control", href="#myCarousel", data-slide="next")
      <span class="glyphicon glyphicon-chevron-right">

  h1 Welcome to Chinese Alliance Church
  p.
    Welcome to the Chinese Alliance Church of Fort Myers, Florida. Our Church is pleased to serve the Fort Myers Area’s Chinese and it’s families. We sincerely invites you to join us in knowing God and worshipping and serving our loving Savior, Jesus Christ. Feel free to browse through the different pages on this website. We are very welcome to your  comments. We look forward to getting in touch with you and meeting you at church!. Chinese Alliance Church Fort Myers located at South West Florida in Fort Myers. Members are from Cape Coral, Bonita Springs, Lehigh Acre, and Naples.
  h1 歡迎來到華人基督教宣道會
  h6 – 位於西南佛羅里達州, 邁爾斯堡!!

<!-- Carousel ===============================================      
extends layout

block content
  
  #myCarousel(class="carousel slide", data-ride="carousel")
    <!-- Indicators -->
    ol.carousel-indicators
      li(data-target="#myCarousel", data-slide-to="0", class="active")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
    .carousel-inner
      div(class="item active")
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
        .container
          .carousel-caption
            h1 Example headline.
            p 
            |  Note: If you're viewing this page via a <code>file://</code> URL, the "next" 
            |  and "previous" Glyphicon buttons on the left and right might not load/display |  properly due to web browser security rules.

            p 
              a.btn(class="btn-lg", class="btn-primary", href="#", role="button") Sign up today

      .item
        <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
        .container
          .carousel-caption
            h1 Another example headline.
            p
            |  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
            |  porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id 
            |  in it.
            
            p
              a.btn(class="btn-lg", class="btn-primary", href="#", role="button") Learn more

      .item
        <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
        .container
          .carousel-caption
            h1 Another example headline.
            p
            |  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
            |  porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id 
            |  in it.
            
            p
              a.btn(class="btn-lg", class="btn-primary", href="#", role="button") Learn more
 
    a.left(class="carousel-control", href="#myCarousel", data-slide="prev") 
      <span class="glyphicon glyphicon-chevron-left">
    a.right(class="carousel-control", href="#myCarousel", data-slide="next")
      <span class="glyphicon glyphicon-chevron-right">
-->

  